# XXX: https://www.baeldung.com/spring-boot-logging
# XXX: https://www.mkyong.com/spring-boot/spring-boot-profile-based-properties-and-yaml-example/
logging:
   level:
      .: WARN
      org.nada: DEBUG
      org.hibernate: DEBUG
spring:
   profiles:
      active: dev
   main:
# XXX: https://www.mkyong.com/spring-boot/spring-boot-how-to-disable-the-spring-logo-banner/
      banner-mode: console
   jpa:
      show-sql: true
      hibernate:
         naming:
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      properties:
         hibernate:
            format_sql: true
   datasource:
      username: algo
      password: algo
# XXX: http://www.springboottutorial.com/spring-boot-and-h2-in-memory-database
   h2:
      console:
         enabled: true
server:
   email: default@mkyong.com
   port : 9090
security:
   basic:
      enabled: false
---
spring:
   profiles: dev
   datasource:
      url: jdbc:postgresql://localhost:5434/impuestos?loggerLevel=TRACE
   jpa:
      properties:
         hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
---
spring:
   profiles: test
   datasource:
      url: jdbc:h2:mem:db;DB_CLOSE_DELAY=-1
   jpa:
      properties:
         database-platform: org.hibernate.dialect.H2Dialect